colors {
  normal: #939EA4;
  poison: #AA6BC8;
  bug: #91C12F;
  fire: #FF9D55;
  eletrico: #F4D23C;
  dragon: #0B6DC3;
  fisico: #EA551E;
  lutador: CD416B;
  terrestre: #D97845;
  fantasma: #5269AD;
  psiquico: #FA7179;
  sombrio: #5A5465;
  voador: #8FA9DE;
  pedra: #C5B78C;
  grama: #63BC5A;
  gelo: #73CEC0;
  fada: #EC8FE6
}