.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}
.pokemon {
  margin: .5rem;
  padding: 2rem 1rem;
  background-color: #49d0b0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.pokemon .number {
  color: #000;
  opacity: .3;
  text-align: right;
  font-size: .625rem;
}
.pokemon .name {
  color: #fff;
  margin-bottom: 0;

}
.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: #fff;
  border-radius: 1rem;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;
}
.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.poison {
  background-color: #AA6BC8
}
.normal {
 background-color: #939EA4
}
.bug {
  background-color: #91C12F
}
.fire {
  background-color: #FF9D55
}
.eletrico {
  background-color: #F4D23C
}
.dragon {
  background-color: #0B6DC3
}
.fisico {
  background-color: #EA551E
}
.lutador {
  background-color: #CD416B
}
.terrestre {
  background-color: #D97845
}
.fantasma {
  background-color: #5269AD
}
.psiquico {
  background-color: #FA7179
}
.sombrio {
  background-color: #5A5465
}
.voador {
  background-color: #8FA9DE
}
.pedra {
  background-color: #C5B78C
}
.grama {
  background-color: #63BC5A
}
.gelo {
  background-color: #73CEC0
}
.fada {
  background-color: #EC8FE6
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
}
@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}